asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.2.1
cloudinary==1.44.1
colorama==0.4.6
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.1.6
django-cache-url==3.4.5
django-ckeditor-5==0.2.10
django-cloudinary-storage==0.3.0
environs==14.1.1
gunicorn==23.0.0
idna==3.10
marshmallow==3.26.1
numpy==2.2.3
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
razorpay==1.4.2
requests==2.32.3
setuptools==75.8.0
shortuuid==1.0.13
six==1.17.0
spark-parser==1.8.9
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
uncompyle6==3.9.2
urllib3==2.3.0
wheel==0.45.1
whitenoise==6.9.0
xdis==6.1.1


